SINGLE_PREDICTION_MODEL_PATH=models/best_model.joblib
SINGLE_PREDICTION_METADATA_PATH=models/model_metadata.json
SINGLE_PREDICTION_USERS_PATH=data/users.csv
SINGLE_PREDICTION_VIDEOS_PATH=data/videos.csv
SINGLE_PREDICTION_API_URL=http://127.0.0.1:8000
